.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  border: 1px solid var(--color-light);
  border-radius: 5px;
}

.catalog__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-black);
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catalog__icon {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
  }

  .catalog__item {
    border-width: 2px;
    height: 100px;
    align-items: center;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
  }

  .catalog__link {
    padding: 0;
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 1280px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 30px;
  }

  .catalog__list--no-photo {
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog__item {
    height: auto;
    padding: 30px 10px;
    border-radius: 10px;
  }

  .catalog__link {
    font-size: 20px;
    line-height: 26px;
  }

  .catalog__list--no-photo .catalog__link {
    font-size: 18px;
    line-height: 25px;
  }
}
