.user-orders {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-orders_type_desktop {
  display: none;
}

.user-orders_type_mobile {
  display: block;
}

.profile-nav__item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1280px) {
  .user-orders_type_mobile {
    display: none;
  }

  .user-orders_type_desktop {
    display: block;
  }
}

.user-orders .accordion {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 10px;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .user-orders .accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 16px;
  }
}

@media (min-width: 1280px) {
  .user-orders .accordion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 30px;
  }
}

.user-orders .accordion__item {
  padding: 10px;
  border: 1px solid var(--color-light);
  border-radius: 10px;
}

.user-orders .accordion__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .user-orders .accordion__item {
    border: 2px solid var(--color-light);
  }
}

@media (min-width: 1280px) {
  .user-orders .accordion__item {
    padding: 30px;
  }
}

.user-orders .accordion__header {
  position: relative;
  padding: 0;
}

.user-orders .accordion__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.user-orders .accordion__title_is_selected .user-orders__pay {
  background-color: #33f540;
  color: #fff;
  opacity: 1;
}

.user-orders .accordion__title {
  width: 100%;
}

.user-orders__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1280px) {
  .user-orders__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.user-orders__list.accordion__trigger {
  display: grid;
  grid-template-columns: 1fr 35px;
  gap: 10px 10px;
}

.user-orders__list.accordion__trigger .user-orders__item {
  margin: 0;
}

.user-orders__list.accordion__trigger .user-orders__pay {
  padding: 8px;
  font-size: 15px;
  line-height: 19px;
}

@media (min-width: 768px) {
  .user-orders__list.accordion__trigger {
    grid-template-columns: 1fr 39px;
  }

  .user-orders__list.accordion__trigger .user-orders__pay {
    padding: 10px;
  }
}

.user-orders__list.accordion__trigger .accordion__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid var(--color-light);
  border-radius: 5px;
}

.accordion__arrow-icon {
  fill: var(--color-primary);
}

.user-orders__list.accordion__trigger .accordion__toggle .accordion__arrow-icon {
  opacity: 1;
}

.user-orders__list.accordion__title_is_selected .accordion__toggle {
  background: var(--color-primary);
}

.user-orders__list.accordion__title_is_selected .accordion__arrow-icon {
  fill: #fff;
}

.user-orders__item {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-black);
}

@media (min-width: 768px) {
  .user-orders__item {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 1280px) {
  .user-orders__item {
    width: 25%;
    margin-bottom: 20px;
    padding-right: 35px;
    font-size: 20px;
    line-height: 26px;
  }
}

.user-orders__item--no-padding {
  margin-bottom: 0;
  padding-right: 0;
}

.user-orders__item--width-auto {
  flex: 1;
}

.user-orders__order-num {
  color: var(--color-primary);
  opacity: 0.5;
}

.user-orders__pay {
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  opacity: 0.5;
  text-align: center;
  background-color: var(--color-light);
}

.orders__list {
  margin: 0 0 10px;
  padding: 10px 0 0;
  list-style: none;
  border-top: 1px solid rgb(0 113 188 / 10%);
}

@media (min-width: 1280px) {
  .orders__list {
    margin: 0;
    padding: 0;
    border-top: none;
  }
}

.orders__item:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(0 113 188 / 10%);
}

.orders__wrapper {
  list-style: none;
  margin: 0;
  padding: 0 0 15px;
}

.orders__item:last-child .orders__wrapper {
  padding: 0;
}

@media (max-width: 1279px) {
  .orders__wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px repeat(3, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "preview descr descr descr price"
      "count count count like delete";
  }

  .basket__orders .orders__wrapper {
    grid-template-columns: 15px 50px repeat(3, 1fr);
    grid-template-areas:
      "checked preview descr descr descr price"
      "checked count count count like delete";
  }

  .orders__checked {
    grid-area: checked;
  }

  .orders__preview {
    grid-area: preview;
  }

  .orders__descr {
    grid-area: descr;
  }

  .orders__price {
    grid-area: price;
  }

  .orders__count {
    grid-area: count;
  }

  .orders__like {
    grid-area: like;
  }

  .orders__delete {
    grid-area: delete;
  }
}

@media (min-width: 1280px) {
  .orders__count {
    display: flex;
    justify-content: center;
  }

  .orders__wrapper {
    display: grid;
    grid-template-columns: minmax(37px, 100px) minmax(300px, 590px) minmax(70px, 100px) minmax(200px, 225px) minmax(20px, 25px) minmax(20px, 25px);
    gap: 30px;
    align-items: center;
    padding: 0 0 15px;
  }

  .basket__orders .orders__wrapper {
    grid-template-columns: minmax(20px, 25px) minmax(37px, 100px) minmax(200px, 590px) minmax(70px, 100px) minmax(100px, 190px) minmax(20px, 25px) minmax(20px, 25px);
    gap: 20px;
  }
}

.orders__preview {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.orders__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--color-black);
  border-radius: 10px;
}

.orders__link {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-black);
  text-decoration: none;
}

@media (min-width: 768px) {
  .orders__link {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 1280px) {
  .orders__link {
    font-size: 20px;
    line-height: 26px;
  }
}

.orders__article {
  margin: 0 0 5px;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-primary);
  opacity: 0.5;
}

.orders__per-price {
  display: none;
}

@media (min-width: 768px) {
  .orders__article {
    margin: 0 0 8px;
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 1280px) {
  .orders__article {
    margin: 13px 0;
    font-size: 16px;
    line-height: 21px;
  }

  .orders__per-price {
    display: inline-block;
    margin-right: 16px;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-black);
  }
}

.orders__price {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: var(--color-black);
}

.orders__old-price {
  margin-top: 3px;
  display: block;
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

@media (min-width: 1280px) {
  .orders__price {
    font-size: 20px;
    line-height: 26px;
  }

  .orders__old-price {
    margin-top: 5px;
    font-size: 18px;
    line-height: 23px;
  }
}

.orders__like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orders__delete {
  display: flex;
  justify-content: flex-end;
}

.orders__delete-button {
  background: transparent url("../popup/close.svg") 50% no-repeat;
  background-size: 28px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

@media (min-width: 1280px) {
  .orders__delete {
    justify-content: center;
  }
}

.orders-head {
  display: none;
}

@media (min-width: 1280px) {
  .orders-head {
    display: block;
    margin: 30px 0 15px;
    border-bottom: 1px solid rgb(0 113 188 / 10%);
  }

  .orders-head__item {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-black);
    text-align: center;
  }

  .orders-head__item.orders__descr {
    text-align: left;
  }
}
