.user-orders {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-orders .accordion__item {
  margin-bottom: 30px;
  padding: 30px;
  border: 2px solid var(--color-light);
  border-radius: 10px;
}

.user-orders .accordion__item:last-child {
  margin-bottom: 0;
}

.user-orders .accordion__header {
  position: relative;
  padding: 0;
}

.user-orders .accordion__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.user-orders .accordion__title_is_selected .user-orders__pay {
  background-color: #33f540;
  color: #fff;
  opacity: 1;
}

.user-orders .accordion__title {
  width: 100%;
}

.user-orders__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-orders__item {
  width: 25%;
  margin-bottom: 20px;
  padding-right: 35px;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
}

.user-orders__item--no-padding {
  margin-bottom: 0;
  padding-right: 0;
}

.user-orders__item--width-auto {
  flex: 1;
}

.user-orders__order-num {
  color: var(--color-primary);
  opacity: 0.5;
}

.user-orders__pay {
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  opacity: 0.5;
  text-align: center;
  background-color: var(--color-light);
}

.orders__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.orders__item:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 113, 188, 0.1);
}

.orders__item:last-child .orders__wrapper {
  padding: 0;
}

.orders__wrapper {
  display: grid;
  grid-template-columns: minmax(37px, 100px) minmax(300px, 590px) auto minmax(200px, 225px) repeat(2, auto);
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0 0 15px;
  list-style: none;
}

.orders__preview {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.orders__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--color-black);
}

.orders__link {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  text-decoration: none;
}

.orders__article {
  margin: 13px 0;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-primary);
  opacity: 0.5;
}

.orders__per-price {
  margin-right: 16px;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
}

.sale,
.new {
  margin: 0 5px;
  padding: 2px 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  border-radius: 5px;
  background: var(--color-primary);
}

.sale {
  background: var(--color-danger);
}

.new {
  background: #33f540;
}

.orders__price {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-black);
}

.orders__old-price {
  display: block;
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.amount {
  display: flex;
  align-items: center;
}

.amount__btn-minus,
.amount__btn-plus {
  padding: 18px;
  border: 2px solid var(--color-light);
  border-radius: 10px;
  background-color: transparent;
  line-height: 0;
}

.amount__input {
  max-width: 70px;
  border: none;
  background-color: transparent;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #222;
}

.orders__delete-button {
  background: transparent url("../popup/close.svg") 50% no-repeat;
  background-size: 28px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

.orders-head {
  margin: 30px 0 15px;
  border-bottom: 1px solid rgba(0, 113, 188, 0.1);
}

.orders-head__item {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  text-align: center;
}