.profile-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.profile-nav__item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .profile {
    padding-top: 10px;
  }

  .profile-nav {
    margin: 0 0 16px;
  }
}

@media (min-width: 1280px) {
  .profile-nav {
    flex-direction: row;
    margin: 0 0 30px;
  }

  .profile-nav__item:not(:last-child) {
    width: 37%;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .profile-nav__item:last-child {
    flex: 1;
  }
}

.profile-nav__link {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-light);
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-primary);
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s;
}

@media (min-width: 768px) {
  .profile-nav__link {
    padding: 10px;
    border: 2px solid var(--color-light);
  }
}

@media (min-width: 1280px) {
  .profile-nav__link {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 26px;
  }
}

.profile-nav__link:hover {
  color: #fff;
  background-color: var(--color-primary);
}

.profile-nav__link--selected {
  color: #fff;
  background-color: var(--color-primary);
}

.profile-nav__link--sign-out {
  color: #fff;
  background-color: var(--color-danger);
  transition: opacity 0.2s;
}

.profile-nav__link--sign-out:hover {
  background-color: var(--color-danger);
  opacity: 0.85;
}

.profile-form__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .profile-form__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .profile-form__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
  }
}

.profile-form__wrapper .form__section {
  margin-top: auto;
  margin-bottom: 0;
}

.profile-form__wrapper .form__section:last-child,
.profile-form__wrapper .form__section:first-child {
  padding-top: 10px;
  border-top: 1px solid rgb(0 113 188 / 10%);
}

@media (min-width: 768px) {
  .profile-form__wrapper .form__section:last-child,
  .profile-form__wrapper .form__section:first-child {
    padding-top: 0;
    border-top: none;
  }
}

.profile-form__button {
  width: 100%;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

@media (min-width: 1280px) {
  .profile-form__button {
    padding: 15px;
    font-size: 20px;
    line-height: 26px;
  }
}
