@media (min-width: 1280px) {
  .profile-nav .page-nav__item:not(:last-child) {
    width: 37%;
  }

  .profile-nav .page-nav__item:last-child {
    flex: 1;
  }
}

.profile-form__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .profile-form__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .profile-form__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
  }
}

.profile-form__wrapper .form__section {
  margin-top: auto;
  margin-bottom: 0;
}

.profile-form__wrapper .form__section:last-child,
.profile-form__wrapper .form__section:first-child {
  padding-top: 10px;
  border-top: 1px solid rgb(0 113 188 / 10%);
}

@media (min-width: 768px) {
  .profile-form__wrapper .form__section:last-child,
  .profile-form__wrapper .form__section:first-child {
    padding-top: 0;
    border-top: none;
  }
}

.profile-form__button {
  width: 100%;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

@media (min-width: 1280px) {
  .profile-form__button {
    padding: 15px;
    font-size: 20px;
    line-height: 26px;
  }
}
