.sale {
  padding: 8px 0;
  background-color: #fff;
  border-bottom: 1px solid var(--color-light);
}

.sale.hidden {
  display: none;
}

.sale__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sale__text {
  margin: 0 0 8px;
  padding-right: 25px;
  font-weight: 600;
  color: var(--color-black);
  font-size: calc(15px + 16 * ((100vw - 320px) / (1280 - 320)));
  line-height: 130%;
}

.sale__hide {
  background: transparent url("./close.svg") 50% no-repeat;
  background-size: 18px;
  border: none;
  cursor: pointer;
  height: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 0;
  width: 25px;
}

@media (min-width: 768px) {
  .sale {
    padding: 10px 0;
  }

  .sale__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .sale__text {
    padding-right: 0;
  }

  .sale__hide {
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
  }

  .sale__row--timer {
    margin-right: 40px;
  }
}

@media (min-width: 1024px) {
  .sale__wrapper {
    gap: 20px;
  }
}

@media (min-width: 1280px) {
  .sale__text {
    font-size: 30px;
    line-height: 38px;
  }

  .sale__row--timer {
    margin-right: 60px;
  }
}

@media (min-width: 1600px) {
  .sale__row--timer {
    margin-right: 0;
  }

  .sale__hide {
    right: -130px;
  }
}
