.advantages {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 8px 8px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages__item {
  width: calc(50% - 4px);
  height: 108px;
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.advantages__item:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__icon {
  margin-bottom: 8px;
}

.advantages__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages {
    gap: 16px 16px;
  }

  .advantages__item {
    width: calc(50% - 8px);
  }
}

@media (min-width: 1280px) {
  .advantages {
    justify-content: center;
    gap: 30px 30px;
  }

  .advantages__item {
    width: 410px;
    height: 240px;
    padding: 30px;
  }

  .advantages__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 210px;
  }

  .advantages__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}
