.main {}

.main__container {
  max-width: 1290px;
  padding: 16px 16px 50px;
  margin: 0 auto;
}

.main__title,
.main__sub-title {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 10px;
}

.main__description {
  font-family: var(--font-sans);
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 16px;
}

.main__scrollable-container {
  padding: 0;
}

.main__scrollable {
  padding: 16px 0 16px 16px;
}

@media (min-width: 768px) {
  .main__title,
  .main__sub-title {
    font-size: 30px;
    line-height: 38px;
  }

  .main__description {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .main__title,
  .main__sub-title {
    font-size: 60px;
    line-height: 77px;
    margin-bottom: 20px;
  }

  .main__description {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
  }

  .main__scrollable {
    padding: 0;
  }

  .main__container {
    padding: 30px 0 100px;
  }
}
