.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  border: 1px solid var(--color-light);
  border-radius: 5px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__link {
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  font-size: 11px;
  line-height: 14px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
}

.cards__link:hover {
  transition: opacity 0.2s;
  opacity: 0.6;
}

.cards__image {
  width: 100%;
  max-height: 50px;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }

  .cards__link {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }

  .cards__item {
    max-height: 115px;
  }

  .cards__link {
    font-size: 16px;
    line-height: 21px;
  }
}

.card-wrapper {
  margin: 16px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 8px;
  list-style: none;
}

@media (min-width: 768px) {
  .card-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
  }
}

@media (min-width: 1280px) {
  .card-wrapper {
    margin: 30px 0 0;
    gap: 30px 30px;
  }
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 10px;
  padding: 10px;
  border: 1px solid var(--color-light);
  border-radius: 10px;
  grid-template-areas:
    "preview"
    "article"
    "name"
    "price"
    "button";
}

@media (min-width: 768px) {
  .card {
    border: 2px solid var(--color-light);
  }
}

@media (min-width: 1280px) {
  .card {
    gap: 20px 20px;
    padding: 30px;
    grid-template-areas:
      "article"
      "preview"
      "name"
      "tags"
      "price"
      "button";
  }
}

.card__article {
  grid-area: article;
  height: 30px;
  overflow: hidden;
  padding-right: 30px;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-primary);
  opacity: 0.5;
}

@media (min-width: 1280px) {
  .card__article {
    height: 21px;
    font-size: 16px;
    line-height: 21px;
  }
}

.card__preview {
  grid-area: preview;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  max-height: 80px;
  object-fit: contain;
}

@media (min-width: 1280px) {
  .card__image {
    max-height: 167px;
  }
}

.card__name {
  grid-area: name;
  display: block;
  height: 30px;
  overflow: hidden;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-black);
  opacity: 0.5;
  text-decoration: none;
  transition: opacity 0.2s;
}

.card__name:hover {
  opacity: 1;
}

@media (min-width: 1280px) {
  .card__name {
    height: 50px;
    font-size: 18px;
    line-height: 25px;
  }
}

.card__tags {
  position: absolute;
  top: 10px;
  left: 10px;
  grid-area: tags;
  display: flex;
  align-items: center;
  gap: 4px 0;
  flex-wrap: wrap;
  padding-right: 30px;
}

@media (min-width: 1280px) {
  .card__tags {
    position: relative;
    height: 25px;
    left: 0;
    padding-right: 0;
  }
}

.card__price {
  grid-area: price;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-black);
}

.card__old-price {
  margin-right: 5px;
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: var(--color-black);
  opacity: 0.5;
}

.card__tags .card__old-price {
  display: none;
}

@media (min-width: 1280px) {
  .card__price {
    font-size: 30px;
    line-height: 38px;
  }

  .card__old-price {
    font-size: 18px;
    line-height: 23px;
  }

  .card__tags .card__old-price {
    display: inline-block;
  }

  .card__price .card__old-price {
    display: none;
  }
}

.card__button {
  grid-area: button;
  width: 100%;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

@media (min-width: 768px) {
  .card__button {
    padding: 10px;
  }
}

@media (min-width: 1280px) {
  .card__button {
    padding: 15px;
    font-size: 20px;
    line-height: 26px;
  }
}

.tippy-box[data-theme~="popup"] {
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: 16px;
  color: var(--color-black);
  box-shadow: 5px 5px 20px rgb(23 30 38 / 30%);
}

@media (max-width: 767px) {
  div[data-tippy-root] {
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
    transform: translate(0) !important;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    max-width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tippy-box[data-theme~="popup"][data-placement^="top"] > .tippy-arrow::before {
    display: none;
  }

  .tippy-box[data-theme~="popup"][data-placement^="bottom"] > .tippy-arrow::before {
    display: none;
  }

  .tippy-box[data-theme~="popup"][data-placement^="left"] > .tippy-arrow::before {
    display: none;
  }

  .tippy-box[data-theme~="popup"][data-placement^="right"] > .tippy-arrow::before {
    display: none;
  }
}

@media (min-width: 1280px) {
  .tippy-box[data-theme~="popup"] {
    border-radius: 10px;
    padding: 20px;
  }
}

.tippy-box[data-theme~="popup"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #fff;
}

.tippy-box[data-theme~="popup"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #fff;
}

.tippy-box[data-theme~="popup"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: #fff;
}

.tippy-box[data-theme~="popup"][data-placement^="right"] > .tippy-arrow::before {
  border-right-color: #fff;
}

.tippy-box[data-theme~="popup"] > .tippy-content {
  padding: 0;
}

.card-dropdown {
  display: none;
}

.card-dropdown__head {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0 113 188 / 10%);
}

.card-dropdown__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
}

.card-dropdown__close {
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 18px;
  transform: translateY(-80%);
  background: transparent url("../sale/close.svg") 50% no-repeat;
  background-size: 18px;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .card-dropdown__head {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .card-dropdown__title {
    font-size: 30px;
    line-height: 38px;
  }

  .card-dropdown__close {
    width: 20px;
    height: 20px;
    background: transparent url("../sale/close.svg") 50% no-repeat;
    background-size: 20px;
  }
}

.card-dropdown__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0 113 188 / 10%);
}

@media (min-width: 1280px) {
  .card-dropdown__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.card-dropdown__descr {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  width: 120px;
}

@media (min-width: 768px) {
  .card-dropdown__descr {
    width: 100px;
  }
}

@media (min-width: 1280px) {
  .card-dropdown__descr {
    margin-right: 10px;
    width: 140px;
  }
}

.card-dropdown__city {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-black);
}

@media (min-width: 1280px) {
  .card-dropdown__city {
    font-size: 18px;
    line-height: 23px;
  }
}

.card-dropdown__count {
  font-size: 12px;
  line-height: 15px;
  color: var(--color-black);
  opacity: 0.5;
}

@media (min-width: 1280px) {
  .card-dropdown__count {
    font-size: 16px;
    line-height: 21px;
  }
}

.card-dropdown__amount .quantity__input input {
  max-width: 30px;
  margin: 0 3px;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

.card-dropdown__button {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  line-height: 19px;
  background-color: var(--color-danger);
}

@media (min-width: 768px) {
  .card-dropdown__amount .quantity__input input {
    max-width: 40px;
  }

  .card-dropdown__button {
    padding: 10px;
  }
}

@media (min-width: 1280px) {
  .card-dropdown__button {
    padding: 15px;
    font-size: 20px;
    line-height: 26px;
  }
}

.card__favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (min-width: 1280px) {
  .card__favorite {
    top: 30px;
    right: 30px;
  }
}
