.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sign-up__content {
  position: relative;
  max-width: 470px;
  padding: 30px;
  background: #fff;
  border: 2px solid var(--color-light);
  border-radius: 10px;
}

.sign-up__back {
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  padding-left: 25px;
  background: url("../form/back.svg") left center no-repeat;
  text-decoration: none;
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-primary);
  opacity: 0.5;
  transition: opacity 0.2s;
}

.sign-up__back:hover {
  opacity: 1;
}

.sign-up__logo {
  margin-bottom: 20px;
  text-align: center;
}

.sign-up__logo img {
  max-width: 185px;
}

.sign-up-form a {
  color: var(--color-primary);
}

.sign-up-form__section {
  position: relative;
  margin-bottom: 10px;
}

.sign-up-form__title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--color-black);
}

.sign-up-form__label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 23px;
  color: rgb(23 30 38 / 50%);
}

.input-field {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.sign-up-form__captcha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 10px;
}

.sign-up-form__input {
  font-size: 20px;
  line-height: 26px;
  padding: 15px;
  border: 2px solid var(--color-light);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: var(--font-sans);
  font-weight: 600;
  width: 100%;
}

.error-info {
  display: none;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("../form/error.svg") no-repeat;
  background-size: 20px;
}

.input-field.error .error-info {
  display: block;
}

.input-field.error input {
  border-color: var(--color-danger);
}

.code:not(:last-child) {
  margin-right: 10px;
  text-align: center;
}

.sign-up__resend-code {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

.sign-up-form__button {
  width: 100%;
  margin-top: 20px;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 20px;
}
