.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.sign-up-slider {
  width: 100%;
  max-width: 470px;
}

.swiper {
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px) {
  .sign-up {
    padding: 0;
  }
}

.sign-up__content {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid var(--color-light);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .sign-up__content {
    padding: 16px;
    border: 2px solid var(--color-light);
  }
}

@media (min-width: 1280px) {
  .sign-up-slider {
    max-width: 470px;
  }

  .sign-up__content {
    padding: 30px;
  }
}

.sign-up__back {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  border: none;
  padding-left: 18px;
  background: url("../form/back.svg") left center no-repeat;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-primary);
  font-family: var(--font-sans);
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .sign-up__back {
    top: 16px;
    left: 16px;
    padding-left: 20px;
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 1280px) {
  .sign-up__back {
    top: 30px;
    left: 30px;
    padding-left: 25px;
    font-size: 18px;
    line-height: 23px;
  }
}

.sign-up__back:hover {
  opacity: 1;
}

.sign-up__logo {
  margin-top: 25px;
  margin-bottom: 16px;
  text-align: center;
}

.sign-up__logo img {
  max-width: 148px;
}

@media (min-width: 768px) {
  .sign-up__logo {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .sign-up__logo img {
    max-width: 185px;
  }
}

@media (min-width: 1280px) {
  .sign-up__logo {
    margin-bottom: 20px;
  }
}

.form a {
  color: var(--color-primary);
}

.form__section {
  position: relative;
  margin-bottom: 10px;
}

.form__title {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
}

.form__label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  color: rgb(23 30 38 / 50%);
}

@media (min-width: 768px) {
  .form__title {
    margin: 0 0 10px;
    font-size: 30px;
    line-height: 38px;
  }

  .form__label {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 1280px) {
  .form__label {
    font-size: 18px;
    line-height: 23px;
  }
}

.input-field {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.input-field .form__toggle-password {
  top: 50%;
  transform: translateY(-50%);
}

.input-field .form__input_type_password {
  padding-right: 30px;
}

@media (min-width: 1280px) {
  .input-field .form__input_type_password {
    padding-right: 45px;
  }
}

.form__captcha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .form__captcha {
    margin-right: 10px;
  }
}

.form__input {
  font-size: 15px;
  line-height: 19px;
  padding: 8px 10px;
  border: 1px solid var(--color-light);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: var(--font-sans);
  font-weight: 600;
  width: 100%;
}

.error-info {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("../form/error.svg") no-repeat;
  background-size: 20px;
}

@media (min-width: 768px) {
  .form__input {
    padding: 10px;
    border: 2px solid var(--color-light);
  }
}

@media (min-width: 1280px) {
  .form__input {
    font-size: 20px;
    line-height: 26px;
    padding: 15px;
    border-radius: 10px;
  }

  .error-info {
    right: 15px;
  }
}

.input-field.error .error-info {
  display: block;
}

.error-info.sms-error {
  display: block;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translateY(0);
}

.input-field.error input {
  border-color: var(--color-danger);
}

.code {
  text-align: center;
}

.code:not(:last-child) {
  margin-right: 8px;
}

.sign-up__resend-code {
  display: block;
  margin-top: 10px;
  font-size: 15px;
}

.form__button {
  width: 100%;
  margin-top: 10px;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 768px) {
  .code:not(:last-child) {
    margin-right: 10px;
  }

  .sign-up__resend-code {
    margin-top: 15px;
    font-size: 15px;
  }

  .form__button {
    margin-top: 16px;
    padding: 10px;
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  .sign-up__resend-code {
    margin-top: 20px;
    font-size: 18px;
  }

  .form__button {
    margin-top: 20px;
    padding: 15px 10px;
    font-size: 20px;
  }
}
