.filter__list,
.search-page__categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.filter__button {
  padding: 15px;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.categories__link {
  padding: 15px;
  background: #f2f3f7;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  text-decoration: none;
  text-align: center;
}

.categories__link--icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: middle;
}

.categories__link--icon.icon-1 {
  background: transparent url("./icon-1.svg") center no-repeat;
  background-size: cover;
}

.categories__link--icon.icon-2 {
  background: transparent url("./icon-2.svg") center no-repeat;
  background-size: cover;
}

.categories__link--icon.icon-3 {
  background: transparent url("./icon-3.svg") center no-repeat;
  background-size: cover;
}

.categories__link--icon.icon-4 {
  background: transparent url("./icon-4.svg") center no-repeat;
  background-size: cover;
}

.search-page__content {
  margin-top: 30px;
  border-top: 1px solid rgb(0 113 188 / 10%);
}
