.slider {
  border-radius: 10px;
}

.main-slider {
  height: calc(100vw / 2.7);
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .main-slider {
    margin-bottom: 16px;
  }
}

@media (min-width: 1280px) {
  .main-slider {
    height: 370px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .slider .swiper-pagination.slider__pagination {
    bottom: 0;
  }

  .slider .swiper-pagination.slider__pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}

.slider__slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-light);
  border-radius: 10px;
  color: var(--color-black);
  background-image: url("../slider/slide-background.svg");
  background-position: calc(100vw / 2);
  background-repeat: no-repeat;
}

.slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__content {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 100%;
  width: 100%;
}

.slider__text {
  max-width: 160px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-black);
}

.slider__slide .slide__image {
  position: absolute;
  top: 50%;
  right: 5%;
  width: auto;
  max-height: 70%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .slider__content {
    padding: 16px;
  }

  .slider__text {
    max-width: 330px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  .main-slider {
    padding-left: 330px;
  }

  .slider__content {
    padding: 30px 50% 30px 77px;
  }

  .slider__text {
    font-size: 30px;
    line-height: 40px;
  }

  .slider__slide {
    background-position: 500px center;
  }
}
